## Checkpoint 2 - Data Analysis

In this notebook we will go through the preprocessing of the data and the basic data exploration. Our data set is called "healthcare-dataset-stroke-data.csv" and it contains information about patients and whether they had a stroke or not, and many of the patients' characteristics.

In [1]:
# Import of the necessary libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [18]:
# Import of the dataset
dataset = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [3]:
# Data preprocessing
dataset.head(20)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
10,12109,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
11,12095,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1
12,12175,Female,54.0,0,0,Yes,Private,Urban,104.51,27.3,smokes,1
13,8213,Male,78.0,0,1,Yes,Private,Urban,219.84,NaN,Unknown,1
14,5317,Female,79.0,0,1,Yes,Private,Urban,214.09,28.2,never smoked,1
15,58202,Female,50.0,1,0,Yes,Self-employed,Rural,167.41,30.9,never smoked,1
16,56112,Male,64.0,0,1,Yes,Private,Urban,191.61,37.5,smokes,1
17,34120,Male,75.0,1,0,Yes,Private,Urban,221.29,25.8,smokes,1
18,27458,Female,60.0,0,0,No,Private,Urban,89.22,37.8,never smoked,1
19,25226,Male,57.0,0,1,No,Govt_job,Urban,217.08,NaN,Unknown,1

In [4]:
# All attributes are
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

From this we can make several intersting observations. First we see that we have multiple features that are strings (objects), second we see that we have missing values in the bmi column. We will have to deal with these issues before we can start building our models.

### Gender column from string to binary values

We begin by converting the gender strings to binary values. We will assign 1 to Male and 0 to Female.

In [19]:
# Make the gender column binary
dataset['gender'] = dataset['gender'].map({'Male': 1, 'Female': 0})
# dataset['gender'] = dataset['gender'].astype(int)

In [13]:
dataset.head(20)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1.0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,0.0,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,1.0,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,0.0,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,0.0,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,1.0,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,1.0,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,0.0,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,0.0,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,0.0,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
10,12109,0.0,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
11,12095,0.0,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1
12,12175,0.0,54.0,0,0,Yes,Private,Urban,104.51,27.3,smokes,1
13,8213,1.0,78.0,0,1,Yes,Private,Urban,219.84,NaN,Unknown,1
14,5317,0.0,79.0,0,1,Yes,Private,Urban,214.09,28.2,never smoked,1
15,58202,0.0,50.0,1,0,Yes,Self-employed,Rural,167.41,30.9,never smoked,1
16,56112,1.0,64.0,0,1,Yes,Private,Urban,191.61,37.5,smokes,1
17,34120,1.0,75.0,1,0,Yes,Private,Urban,221.29,25.8,smokes,1
18,27458,0.0,60.0,0,0,No,Private,Urban,89.22,37.8,never smoked,1
19,25226,1.0,57.0,0,1,No,Govt_job,Urban,217.08,NaN,Unknown,1

In [20]:
dataset['gender'].unique()

array([ 1.,  0., nan])

We see that there is a nan value in the gender column. Lets see how many nan values we have in the and how they look.

In [21]:
nan_gender_rows = dataset[dataset['gender'].isna()]
print(nan_gender_rows)

         id  gender   age  hypertension  heart_disease ever_married work_type  \
3116  56156     NaN  26.0             0              0           No   Private

     Residence_type  avg_glucose_level   bmi   smoking_status  stroke
3116          Rural             143.33  22.4  formerly smoked       0

Since is the only row with a nan value we can just drop it.

In [23]:
dataset.drop(index = 3116)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1.0,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,0.0,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,1.0,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,0.0,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,0.0,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0.0,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,0.0,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,0.0,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,1.0,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,0.0,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

### Converting 'ever_married' column to binary values

We see that the 'ever_married' column is also a string. We will convert it to binary values. We will assign 1 to Yes and 0 to No.

In [24]:
dataset['ever_married'] = dataset['ever_married'].map({'Yes': 1, 'No': 0})

In [25]:
dataset['ever_married'].unique()

array([1, 0], dtype=int64)

### Converting 'work_type' column to intergers

In [26]:
dataset['work_type'].unique()

array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
      dtype=object)

We will assign a number to each work type. We will assign 0 to 'Private', 1 to 'Self-employed', 2 to 'Govt_job', 3 to 'children' and 4 to 'Never_worked'.

In [27]:
dataset['work_type'] = dataset['work_type'].map({'Private': 0, 'Self-employed': 1, 'Govt_job': 2, 'children': 3, 'Never_worked': 4})

### Converting 'Residence_type' column to binary values

In [28]:
dataset['Residence_type'].unique()

array(['Urban', 'Rural'], dtype=object)

We will assign 1 to Urban and 0 to Rural.

In [29]:
dataset['Residence_type'] = dataset['Residence_type'].map({'Urban': 1, 'Rural': 0})

### Converting 'smoking_status' column to intergers

In [30]:
dataset['smoking_status'].unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

We will assign a number to each smoking status. We will assign 0 to 'never smoked', 1 to 'formerly smoked', 2 to 'smokes' and 3 to 'Unknown'.